body::-webkit-scrollbar-thumb{
     background-color: #8e8e8e;
     border-radius: 20px;
   }
   body::-webkit-scrollbar {
    
     width: 8px;
     
   }
.container {
     display: flex;
     padding: 50px;
     padding-top: 100px;
   }
   
   .leftMenu {
     flex: 1;
   }
   
   .content {
     flex: 3;
   }
   
   h1 {
     font-size: 30px;
     color: #555;
     font-weight: 300;
   }
   .logo-hm{
     width: 50px;
     height: 50px;
     border-radius: 50%;
     padding: 16px 40px;
     cursor: pointer;

   }
   .div{
     padding: 16px 40px;
     cursor: pointer;
   }
   .logo-In{
     width: 10px;

     font-size: 20px;
     padding: 0 9px;

}
.logo-IN {
     font-size: 20px;
     cursor: pointer;
}

  
   .cats {
     display: flex;
     flex-direction: column;
     gap: 9px;
   }
   .cat {
     font-size: 20px;
     font-weight: 300;
     padding: 5px;
     cursor: pointer;
   }
   .search-wrapper{
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
   }
   
   .searchInput {
     width: 50%;
     margin-top: 30px;
    padding: 20px;
    border: 1px solid;

   }
   .products {
     display: flex;
     flex-wrap: wrap;
     gap: 8px;
   }
   
   .product {
     width: 319px;
     display: flex;
     flex-direction: column;
     gap: 9px;
     align-items: center;
     cursor: pointer;
     border-radius: 20px;
    
   }
  
   
   .img1{
     width: 100%;
     height: 321px;
     object-fit: contain;
     cursor: pointer;
   }
    .img1:hover{
     transform: scale(1.5);
     transition-duration: 1s;
   } 
   .name {
     font-weight: 300;
   }
   .priceRange {
     cursor: pointer;
   }
   .priceText {
     margin-bottom: 30px;
   }
   .btn{
     text-align: center;
     margin: 10px;

   }
   button{
     padding: 10px 20px;
     cursor: pointer;
   }
 
   footer {
     background-color: #232528;
     padding: 3rem 0 0 0;
     width: 100%;
     color: #fff;

 }
 .logo-div{
     padding: 1px 1px;
}
.flex{
     display: flex;
     justify-content: space-evenly;
}
.day-hours{
     color: #fff;
}

.copyright{
     text-align: center;
     padding: 5px;
}

